:root {
  --header-text-color: #ffffff;
  --base-margin: 20px;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
}

/* ----------------HEADER-------------------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}

/* ----------------HERO-------------------------- */

.hero {
}

.hero-right {
  background-color: chocolate;
  flex-grow: 1;
  padding: 272px 0 206px 96px;
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 93px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--base-margin);
}

.hero-title {
  font-family: Raleway, sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--base-margin);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ----------------ABOUT-------------------------- */

.about {
  padding-top: 140px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--base-margin);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--base-margin);
}

.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--base-margin);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/* ----------------PRICES-------------------------- */

.prices {
  background-color: var(--second-btn-color);
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--base-margin);
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 40px;
  width: 50%;
}

.prices-item {
  margin-bottom: var(--base-margin);
  display: flex;
  justify-content: space-between;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}

/* ----------------REASONS-------------------------- */

.reasons {
  padding-top: 120px;
  padding-bottom: 130px;
}

.reasons .container {
  display: flex;
  justify-content: space-between;
}

.reasons-left,
.reasons-right {
  width: calc((100% - 30px) / 2);
}

.reasons-right {
  padding-top: 30px;
}
.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
  display: block;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

.reasons-pre-title {
  color: #303030;
  margin-bottom: var(--base-margin);
}

.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--base-margin);
}

.reasons-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* ----------------MASTERS-------------------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-pre-title {
  color: #303030;
  margin-bottom: var(--base-margin);
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.masters-item {
  width: calc(100% / 3 - 30px);
  /* width: calc((100% - 90px) / 3) */
  margin-left: 30px;
  margin-bottom: 30px;
}

/* .masters-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.masters-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* ----------------GALLERY-------------------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  width: calc(100% / 5 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

/* ----------------ONLINE-------------------------- */
.online {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--second-btn-color);
}

.online-title {
  color: var(--first-title-color);
}

/* ----------------CONTACTS-------------------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--second-btn-color);
  padding-left: 100px;
}

.contacts-title {
  color: var(--first-btn-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item {
  margin-bottom: var(--base-margin);
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--base-margin);
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ----------------FOOTER-------------------------- */

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer-link:hover {
  color: var(--accent-color);
}
