.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  width: calc(50% - 15px);
}

.contacts__title {
  color: var(--first-btn-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-list__item {
  margin-bottom: var(--base-margin);
}

.contacts-list__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--base-margin);
}

.contacts__time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
