.contacts {
  background-color: #191c26;
  // padding-left: 100px;

  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% - 15px);
    background-image: unset;
    background-color: unset;
    padding-left: 100px;
  }
}

.contacts__title {
  color: var(--first-btn-color);
  margin-bottom: 40px;
}

.contacts-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
  }
  @media screen and (min-width: 1200px) {
    width: unset;
  }
}

.contacts-bottom-wrap {
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 15px);
  }
  @media screen and (min-width: 1200px) {
    width: unset;
  }
}

.contacts-list__item {
  margin-bottom: var(--base-margin);
}

.contacts-list__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--base-margin);
}

.contacts__time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
