.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery__pre-title {
  color: #303030;
  margin-bottom: 44px;
  &::before {
    background-color: #303030;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-list__item {
  width: calc(100% / 5 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
