.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header__container {
  @extend %align-list;
}

.connect {
  margin-left: auto;
}

.site-list {
  @extend %align-list;
}

.site-list__item:not(:last-child) {
  margin-right: 40px;
}

.site-list__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  transition: color 300ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.connect__btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}
